<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Speakers</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-thumbnail item-left>
        <img [src]="item.thumb">
      </ion-thumbnail>
      <h2>{{item.title}}</h2>
      <p>{{item.note}}</p>
    </button>
    <!--<ion-card *ngFor="let item of items" (click)="itemTapped($event, item)">
      <img [src]="item.thumb"/>
      <ion-card-content>
        <ion-card-title>
          {{item.title}}
          </ion-card-title>
        <p>
          {{item.note}}
        </p>
      </ion-card-content>
    </ion-card>-->
    <!--<button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-left></ion-icon>
      {{item.title}}
      <div class="item-note" item-right>
        {{item.note}}
      </div>
    </button>-->
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
